# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath

#Ignore /bin directory
/bin/

#Ignore JSON directory
/src/resource/com/cafromet/files/json

#Ignore XML directory
/src/resource/com/cafromet/files/xml

#Ignore TEMP directory
/src/resource/com/cafromet/files/temp